<div>

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
          <a class="navbar-brand" routerLink="/admin/dashboard">Admin Panel</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#adminNavbar">
            <span class="navbar-toggler-icon"></span>
          </button>
      
          <div class="collapse navbar-collapse" id="adminNavbar">
            <ul class="navbar-nav ms-auto">
              <li class="nav-item">
                <a class="nav-link" routerLink="/admin/dashboard" routerLinkActive="active">Dashboard</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" routerLink="/admin/users" routerLinkActive="active">Manage Users</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" routerLink="/admin/bookings" routerLinkActive="active">Manage Bookings</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" routerLink="/login" routerLinkActive="active" (click)="logout()">Logout</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
      
    
      <div>
        <router-outlet></router-outlet>
      </div>
    
      <footer class="footer">
        &copy; 2025 Car Rental. All rights reserved.
      </footer>
      
</div>